body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
#menu-bar{
    display: flex;
    background-color: rgb(11,13,23);
}
.menu-logo{
    width: 45%;
    display: flex;
}
.menu-logo span{
    color: tomato;
    margin-left: 8%;
    margin-top: 1%;
    font-size: 45px;
    font-weight: 700;
}
.nav-items{
    width: 55%;
    display: flex;
}
.nav-items ul{
    display:flex;
}
.nav-items ul li{
    list-style: none;
    margin-left: 5%;
}
.nav-items ul li a{
    text-decoration: none;
    color:rgb(255, 123, 0);
    display: inline-block;   
    font-size: 25px;   
}
.search-button{
    border: 1px solid white;
    padding: 6px 0px;
    padding-left: 10px;
    font-size: 18px;
}
.flexible-display{
    display: flex;
}
#top-banner{
    margin-top: 60px;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
}
#image{
    width: 90%;   
}
.left-content{
    margin-top: 25%;
    margin-left: 13%;   
}
.diet-heading{
    font-size: 55px;
    color: rgb(90, 88, 88);
    font-weight: 600;
}
.paragraph{
    color: rgba(128, 122, 122, 0.973);
    font-size: 18px;
    line-height: 25px;
}
.orange-color{
    color: rgb(255, 123, 0);
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(to right, rgb(248, 137, 34), tomato);
    padding: 19px 45px;
    border-radius: 50px;
    color: white;
    display: inline-block;
    margin-top: 25px;    
}
#about-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;    
}
#image-width{
    width: 65%;
}
.about-left{
    margin-left: 15%;
}
.about-right{
    margin-top: 25px;
    padding: 0 10%;   
}
.about-right h1{
    font-size: 35px;
    color:rgba(128, 122, 122, 0.973);
}
.about-descreption{
    color:rgb(17, 16, 16);   
    line-height: 25px;
    padding-bottom: 20px;
}
.recipe-heading{
    font-size: 34px;
    color:rgba(110, 107, 107, 0.911);
    text-align: center;
}
.recipe-paragraph{
    width: 50%;
    margin: auto;
    text-align: center;
    color:rgb(90, 88, 88);
    line-height: 25px;
}
.recipe-wrapper{
    margin: 3% 5%;
}
.second-content{
    margin-left:4%;
}
.third-content{
    margin-left: 4%;   
}
.recipe-content{
    width:30%;
    padding: 20px;
    box-shadow: 0px 0px 50px rgb(206, 205, 205);
    border-radius: 30px;
}

.recipe-content img{
    width:100%;
}
#social-wrapper{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgb(206, 205, 205);
    margin: 7% 0;
}
.social-follower h1{
     font-size: 45px;   
}
.social-follower{
    padding: 2% 10%;
}
#subscribe{
    background-image: linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.747));
    padding: 50px;
    margin-bottom: 6%;
}
#subscribe h1{
    font-size:80px;
    color:white;
    font-weight:700;
}
#subscribe input{
    padding:20px;
    width: 30%;
    font-size: 25px;
    border: 2px solid white;
}
#subscribe button{
    padding: 19px 39px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    margin-left: 1%;
    margin-bottom: 5px;
}
footer{
    background-color:rgb(11,13,23);
    text-align:center;
    padding-top: 2%;
    padding-bottom: 7%;
}
footer h2{
    color:rgba(110, 107, 107, 0.911);
    font-weight: 700;
}
footer p{
    color:rgba(128, 122, 122, 0.973);
}